feedparser
tenacity
flask
requests
PyYAML
psycopg2-binary

flask
bs4
requests
PyPDF2
PyYAML
lxml
transformers
torch
torchvision
psycopg2-binary

flask
bs4
requests
PyPDF2
lxml
transformers
torch
torchvision
psycopg2-binary

flask
bs4
requests
PyPDF2
PyYAML
lxml
psycopg2-binary

streamlit